body {
  font-family: "Arial", "Trebuchet MS";
  background-color: rgb(55, 134, 134);
}

h1 {
  text-align: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container > input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.inner-container > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font: 1.5rem;
  background-color: rgb(235, 74, 106);
  margin-top: 10px;
}

.container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.todo {
  width: 500px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 0px 5px;
  align-items: center;
}

.actions > button {
  background-color: rgb(147, 17, 17);
  color: white;
  height: 30px;
  width: 70px;
  border-radius: 10px;
  font-size: 1.05rem;
  margin-left: 10px;
}
